@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark--gray: hsl(0, 0%, 55%);
    --very--dark--gray: hsl(0, 0%, 41%);
}

body {
    scroll-behavior: smooth;
    font-size: 15px;
    font-family: "Alata", sans-serif;
    font-family: "Josefin Sans", sans-serif;
}

header {
    background-image: url(images/desktop/image-hero.jpg);

    background-size: cover;
    height: 90vh;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#desktop-nav {
    align-items: center;
    padding: 50px 120px;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}

.nav-links {
    list-style: none;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;

    flex-direction: row;
    font-family: "Alata", sans-serif;
    width: 435px;
}

a {
    color: var(--white);
    text-decoration: none;
    padding: 0.8rem 1.8rem;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    cursor: pointer;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
}

.mobile-logo {
    margin-left: 1.5rem;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-left: 0 auto;
}

.hamburger-icon span {
    width: 150%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;

    right: 0;
    height: 30px;
    color: var(--white);

    max-height: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: flex;
    padding: 10px;

    font-weight: 700;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    align-items: start;
    flex-direction: column;
}

.menu-links li {
    list-style: none;

    padding-top: 1rem;
}

.menu-links.open {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    color: var(--verydark--grayblue);

    width: 330px;
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
    text-align: center;
    margin-top: -4rem;
    margin-left: 0;
    height: 100vh;
}

.hamburger-icon.open span:first-child {
    transform: rotate(40deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-43deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.header-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text h1 {
    font-size: 4rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.2rem;
    border: 1px solid var(--white);
    font-weight: 300;
    width: 45%;
    margin-top: 4rem;

    margin-left: 8rem;
    padding: 30px;
    color: var(--white);
    overflow-x: hidden;
}

.interactive-section {
    margin: 8rem;
    width: 100%;
}

.interactive-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.interactive-image-mobile {
    display: none;
}

.interactive-image {
    flex-basis: 60%;
}

.interactive-text {
    border: 1px solid var(--white);
    padding: 3rem 3rem 0 4rem;
    flex-basis: 40%;
    margin-left: -10rem;
    background-color: var(--white);
    align-self: flex-end;
}

.interactive-text h1 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.interactive-text p {
    margin: 0 auto;
    text-align: left;
    font-family: "Alata", sans-serif;
    color: var(--very--dark--gray);
}

.photo-gallery {
    margin-bottom: 43rem;
}

.photo-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 89%;
}

.photo-text h1 {
    padding-left: 15rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--dark--gray);
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 5px;
}

.photo-text button {
    color: var(--black);
    width: 140px;
    height: 40px;
    border: 1px solid var(--black);
    font-weight: 400;
    letter-spacing: 3px;
    background-color: var(--white);
    font-family: "Alata", sans-serif;
    transition: 0.7s;
    cursor: pointer;
}

.photo-text button:hover {
    color: var(--white);
    border-color: var(--white);
    background-color: var(--black);
}

.photo-gallery {
    height: 80vh;
}

.photo-card {
    display: flex;
}

.photos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-left: 5rem;
    padding-top: 1rem;
    width: 90%;
}

.photo-text2:hover:after {
    transform: translate(-50%, -50%);
}

.photos:hover .photo-text2 {
    background: linear-gradient(180deg, #fffa 40%, #555a);
}

.photo-text2 h3 {
    margin-left: 1rem;
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    font-weight: 300;
    bottom: 60px;
    font-family: "Josefin Sans", sans-serif;
}

.photo-text2 {
    margin-right: 1rem;
}

.column4-mobile {
    display: none;
}

footer {
    background-color: var(--black);
    display: flex;
    margin-bottom: 0;
    height: 30vh;
    justify-content: space-around;
}

.right-column,
.left-column {
    width: 50%;
}

.footer-links {
    display: flex;
    flex-basis: 50%;
}

.social-links-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-icons li a {
    padding: 0;
    margin-left: 1rem;
}

.social-links-icons li {
    list-style: none;
}

.right-column {
    margin-top: 3rem;
    margin-left: 3rem;
}

.left-column {
    margin-top: 3rem;
    margin-left: 12rem;
}

.left-column img {
    padding-left: 1.5rem;
}

#footer-nav {
    margin-top: -1.5rem;
}

.copyright p {
    color: var(--dark--gray);
    font-family: "Josefin Sans", sans-serif;
    margin-top: 2.5rem;
    margin-left: 12rem;
}